export EDITOR="subl -w"
export ARCHFLAGS="-arch x86_64"
export MARKPATH=$HOME/.marks
export GOPATH="$HOME/Code/go"
#export ANDROID_SDK_ROOT=`brew --prefix android-sdk`
export CLICOLOR_FORCE=1
export NVM_DIR="$HOME/.nvm"

BIN_HOME="$HOME/.bin"
DEV_HOME="/Applications/Xcode.app/Contents/Developer/usr/bin"
GOTOOLS="/usr/local/opt/go/libexec/bin"
LOCAL_NODEMODULES="./node_modules/.bin"

export PATH="/usr/local/sbin:/usr/local/bin:$BIN_HOME:$DEV_HOME:$GOTOOLS:$GOPATH/bin:$LOCAL_NODEMODULES:$PATH"
