export CLICOLOR=1
export CLICOLOR_FORCE=1
export LSCOLORS=GxFxCxDxBxegedabagaced
export EDITOR="subl -w"
export ARCHFLAGS="-arch x86_64"
export MARKPATH=$HOME/.marks
export GOPATH="$HOME/Code/go"
#export ANDROID_SDK_ROOT=`brew --prefix android-sdk`
export NVM_DIR="$HOME/.nvm"

BIN_HOME="$HOME/.bin"
DENO_HOME="$HOME/.deno"
GOTOOLS="/usr/local/opt/go/libexec/bin"
LOCAL_NODEMODULES="./node_modules/.bin"
DEV_HOME="/Applications/Xcode.app/Contents/Developer/usr/bin"

export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:$BIN_HOME:$DEV_HOME:$GOTOOLS:$GOPATH/bin:$DENO_HOME/bin"
