theme = "abenight"

[editor]
true-color = true
color-modes = true
auto-format = true
popup-border = "all"
bufferline = "always"
scrolloff = 20
shell = ["zsh", "-c"]
rulers = [80, 120]
rainbow-brackets = true
continue-comments = false
completion-replace = true
jump-label-alphabet = "asdfgqwertzxcvb"

[editor.lsp]
display-inlay-hints = false
display-color-swatches = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.whitespace.render]
tab = "all"
tabpad = "all"
space = "all"
newline = "none"

[editor.indent-guides]
render = true
skip-levels = 1
character = "┊" # Some characters that work well: "▏", "┆", "┊", "⸽"

[editor.word-completion]
enable = true
trigger-length = 3

[editor.statusline]
center = ["register", "version-control"]
right = [
  "diagnostics",
  "workspace-diagnostics",
  "primary-selection-length",
  "selections",
  "position",
  "total-line-numbers",
  "file-type",
  "file-encoding",
  "file-indent-style",
  "file-line-ending",
]

[keys.select]
W = "extend_next_sub_word_start"
B = "extend_prev_sub_word_start"
E = "extend_next_sub_word_end"

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
"'" = "goto_word"
S-A-right = "goto_next_buffer"
S-A-left = "goto_previous_buffer"
S-A-up = "page_cursor_half_up"
S-A-down = "page_cursor_half_down"
C-A-right = "jump_view_right"
C-A-left = "jump_view_left"
C-A-up = "jump_view_up"
C-A-down = "jump_view_down"
C-e = ["search_selection", "extend_search_next"]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-k = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
X = ["extend_line_up", "extend_to_line_bounds"]
a = [
  "ensure_selections_forward",
  "collapse_selection",
  "move_char_right",
  "insert_mode",
]
W = "move_next_sub_word_start"
B = "move_prev_sub_word_start"
E = "move_next_sub_word_end"

[keys.normal.space]
F = "file_picker_in_current_buffer_directory"

[keys.normal.space.t]
s = ":toggle soft-wrap.enable" # toggle soft-wrap
f = "@\"%p<space>Yd"           # copy buffer path
n = "@\"#P"                    # consecutive numbers
