[language-server.uwu-colors]
command = "uwu_colors"

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[language-server.emmet-lsp]
command = "emmet-language-server"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]
environment = { "RUFF_TRACE" = "messages" }

[language-server.ruff.config.settings]
logLevel = "debug"

[language-server.vscode-css-language-server.config.css]
customData = ["/Users/Abe/.config/helix/languages/tailwind.json"]
# lint = { unknownAtRules = "ignore" }

[language-server.lua-language-server.config.Lua.hint]
enable = true
arrayIndex = "Disable"
setType = true
paramName = "All"
paramType = true
await = true

[[language]]
name = "lua"
auto-format = true
language-servers = ["lua-language-server", "uwu-colors"]

[language-server.astro-ls]
command = "astro-ls"
args = ["--stdio"]
config = { contentIntellisense = true, typescript = { tsdk = "/Users/Abe/.bun/install/global/node_modules/typescript/lib" }, environment = "node" }

[[language]]
name = "astro"
scope = "source.astro"
injection-regex = "astro"
file-types = ["astro"]
language-servers = ["astro-ls", "uwu-colors"]
auto-format = true
# formatter = { command = "dprint", args = ["fmt", "--stdin", "astro"] }
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-astro",
  "--parser",
  "astro",
] }

[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "markdown"
auto-format = true
soft-wrap.enable = true
comment-tokens = ["-", "+", "*", "1.", ">", "- [ ]"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
language-servers = ["markdown-oxide", "uwu-colors", "codebook"]

[[language]]
name = "mail"
soft-wrap = { enable = true }

[[language]]
name = "python"
language-servers = ["pylsp"]
auto-format = true
formatter = { command = "ruff", args = ["format", "-n", "-"] }

[language-server.pylsp.config.pylsp.plugins]
jedi = { environment = "venv/" }

[[language]]
name = "swift"
auto-format = true

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
language-servers = ["taplo", "uwu-colors"]

[[language]]
name = "xml"
auto-format = true
formatter = { command = "xmllint", args = ["--format", "-"] }

[[language]]
name = "html"
auto-format = true
# formatter = { command = "tidy", args = ["-q", "-i", "--tidy-mark", "no", "--"] }
# formatter = { command = "prettier", args = ["--parser", "html"] }
formatter = { command = "superhtml", args = ["fmt", "-"] }
language-servers = [
  "vscode-html-language-server",
  "superhtml",
  "emmet-lsp",
  "uwu-colors",
]

[[language]]
name = "css"
auto-format = true
language-servers = ["vscode-css-language-server", "tailwindcss-ls"]

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "uwu-colors",
]
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "uwu-colors",
]
auto-format = true

[[language]]
name = "tsx"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "uwu-colors",
]
auto-format = true

[[language]]
name = "jsx"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "uwu-colors",
]
auto-format = true

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
  "uwu-colors",
]
